.Category {
    width: 100%;
    display: block;
    padding-top: 100px;

    .Category-title {
        padding-top: 0px;
        font-weight: lighter;
        font-size: 50px;
        width: 100%;
    }

    .Category-list {
        max-width: 1200px;
        margin: auto;
        padding-bottom: 60px;
        display: grid;
        justify-content: space-around;



        a {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;

            .Category-item {
                width: 200px;
                height: 200px;
                border-radius: 5px 5px 5px 5px;
                transition: 300ms;
                /*background-image: var(--url);*/
                background-image: var(--url);
                background-size: cover;
                background-origin: content-box;
                background-position: center;
                transition: 300ms;
                overflow: hidden;

                h3 {
                    width: 95%;
                    height: 95%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                    font-weight: 200;
                    padding: 5px;
                    margin: auto;
                    background: rgba(1, 1, 1, 0.4);
                    transition: 300ms;

                }
            }

            &:hover .Category-item {
                transform: scale(1.1);
                transition: 300ms;

                h3 {
                    background-color: rgba(255, 255, 255, 0.6);
                    color: black;
                    transition: 300ms;


                }

            }

        }

    }

}

@media(min-width: 1241px) {
    .Category-title {
        padding-top: 50px!important;
    }

    .Category-list {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 35px;

    }
}

@media(min-width: 921px) and (max-width: 1240px) {
    .Category-title {
        padding-top: 50px!important;
    }

    .Category-list {
        width: 880px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 25px;

    }
}

@media(min-width: 721px) and (max-width: 920px) {
    .Category-title {
        padding-top: 50px !important;
    }

    .Category-list {
        width: 680px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 25px;

        a {
            .Category-item {
                width: 160px;
                height: 160px;
            }
        }


    }
}

@media(min-width: 721px) and (max-width: 920px) {
    .Category-title {
        padding-top: 50px !important;
    }

    .Category-list {
        width: 680px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 35px;

        a {
            .Category-item {
                width: 140px!important;
                height: 140px!important;
            }
        }


    }
}

@media(min-width: 641px) and (max-width: 720px) {
    .Category-title {
        padding-top: 40px !important;
    }

    .Category-list {
        width: 610px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 35px;

        a {
            .Category-item {
                width: 180px!important;
                height: 180px!important;
            }
        }


    }
}

@media(max-width: 640px){
    .Category{
        .logo{
            padding-top: 40px!important;
        }
    }
}

@media(min-width: 581px) and (max-width: 640px) {
    .Category-title {
        padding-top: 100px !important;
    }

    .Category-list {
        width: 540px;
        grid-template-columns: repeat(auto-fit, minmax(154px, 1fr));
        grid-gap: 32px;

        a {
            .Category-item {
                width: 154px!important;
                height: 154px!important;
            }
        }


    }
}

@media(min-width: 501px) and (max-width: 580px) {
    .Category-title {
        padding-top: 100px !important;
    }

    .Category-list {
        width: 460px;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: 32px;

        a {
            .Category-item {
                width: 130px!important;
                height: 130px!important;
            }
        }


    }
}


@media(min-width: 441px) and (max-width: 500px) {
    .Category-title {
        padding-top: 100px !important;
    }

    .Category-list {
        width: 420px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 38px;

        a {
            .Category-item {
                width: 180px!important;
                height: 180px!important;
            }
        }


    }
}

@media(min-width: 371px) and (max-width: 440px) {
    .Category-title {
        padding-top: 100px!important;
    }

    .Category-list {
        width: 360px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 38px;

        a {
            .Category-item {
                width: 160px!important;
                height: 160px!important;
            }
        }


    }
}

@media(max-width: 370px) {
    .Category-title {
        padding-top: 100px!important;
    }

    .Category-list {
        width: 320px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 38px;

        a {
            .Category-item {
                width: 140px!important;
                height: 140px!important;
            }
        }


    }
}






