

.header-wrapper-outer {
    width: 100%;
    min-height: 70px;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 30px;
    position: fixed;
    top: -4vh;
    left: 0vw;
    z-index: 2;
    
    .logo {
        display: flex;
        width: 170px;
        color: white;
        line-height: 50px;
        text-align: left;
        align-items: center;
    }

}



@media (max-width: 600px){
    .header-wrapper-outer{
        background-color: transparent;
        .logo{
            display: none;
            
        }

    }
}

